/*===Loader===*/
.loading{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #999;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

/*===Actived Class===*/  
.activedload{
    display:flex !important;
}

/*====Body===*/
body{
  overflow-x: hidden;
}

/*==Typewriter Effect==*/
.cursor {
    display: inline-block;
    width: 3px;
    margin-left: 4px;
    background: #333;
  }
  
  .cursor.blink {
    animation: blink 0.8s ease-in-out infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      background: #333;
    }
    40%, 50% {
      background: transparent;
    }
  }

/*===Link Web==*/
.linkweb{
    position:absolute;
    top:0;
    bottom:1rem;
}

/*===Base Galery===*/
.gallery_base{

    flex-wrap:wrap;

}

/*===Chat GPT Conversation==*/
#resultgptchat{
  overflow-y:auto;
}